.leona-park-map {
  padding: 1rem;
  padding-bottom: 0.6rem;
  background-image: radial-gradient(
      calc(2 * 1em) at 0 0,
      transparent 50%,
      rgba(55, 130, 128, 0.4) 0,
      rgba(55, 130, 128, 0.4) 99.99%,
      transparent 0
    ),
    radial-gradient(
      calc(2 * 1em) at 0 100%,
      transparent 50%,
      rgba(55, 130, 128, 0.4) 0,
      rgba(55, 130, 128, 0.4) 99.99%,
      transparent 0
    ),
    radial-gradient(
      calc(2 * 1em) at 100% 100%,
      transparent 50%,
      rgba(55, 130, 128, 0.4) 0,
      rgba(55, 130, 128, 0.4) 99.99%,
      transparent 0
    ),
    radial-gradient(
      calc(2 * 1em) at 100% 0,
      transparent 50%,
      rgba(55, 130, 128, 0.4) 0,
      rgba(55, 130, 128, 0.4) 99.99%,
      transparent 0
    ),
    linear-gradient(
      90deg,
      transparent 1em,
      rgba(169, 112, 56, 0.4) 0,
      rgba(169, 112, 56, 0.4) calc(100% - 1em),
      transparent calc(100% - 1em)
    ),
    linear-gradient(
      180deg,
      transparent 1em,
      rgba(95, 158, 156, 0.4) 0,
      rgba(95, 158, 156, 0.4) calc(100% - 1em),
      transparent calc(100% - 1em)
    );
}

.contact-map-iframe {
  height: 500px;
  max-height: 60vh;
}

.contact-link {
  fill: #a97038;
  color: #5f9e9c;
}

.contact-icon {
  width: 32px;
  height: 32px;
}
