.leona-park-footer {
  border-top: 1px solid #a97038;
}

.footer-nav-link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.footer-nav-link:hover {
  text-decoration: underline;
}
